html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrap{
	width: 1000px;
	margin: 0 auto;
}

.header{
	height: 100px;
	background: red;
	margin-bottom: 10px;
}

.topmenu{
	float: right;
}

.topmenu li{
	float: left;
	display:block;
	margin-right: 50px;
	font-size: 20px;
	line-height: 100px;
}

.topmenu li a{
	text-decoration: none;
	color: white;
}

.rowmenu li{ 
	width: 200px;
	height: 40px;
	float: left;
	background: blue;
	text-align: center;
	margin-bottom: 10px;
}

.rowmenu li a{
	display: block;
	color: white;
	line-height: 40px;
	text-decoration: none;	
}

.main{
	margin-bottom: 10px;
}

.menu{
	width: 300px;
	height: 500px;
	background: yellow;
	margin-right: 10px;
	float: left;
}

.content{
	width: 690px;
	height: 500px;
	background: green;
	float:left;
}

.clearfix{
	clear: both;
}

.footer{
	background: purple;
	color: white;
	text-align: center;
	line-height: 40px;
}
