.link{
	color: red;
}

.link:hover{
	color: blue;
}

.p1{
	text-indent: 32px;
}

.wrong{
	text-decoration: line-through;
}

h1{
	color: blue;
}

h2{
	border-bottom: 5px solid red;
	border-left: 5px solid red;
}

img{
	border:5px solid black;
}

img:hover{
	border:5px dashed pink;
}
