h1{
	color: blue;
	font-size: 30px;
	border: 1px dotted green;
}

p{
	font-family: verdana;
	font-size: 14px;
	line-height: 1.5;
	text-align: left;
	text-indent: 28px;
}

img{
	border-bottom:5px solid black;
	border-top: 5px dashed red;
}

.link{
	color:red;
}

.link:hover{
	color: green;
}

.link:active{
	color: gray;
}

